<div class="layout-column align-items-center justify-content-center mt-40">
    <h4>Selected Customer Details</h4>
    <section class="content layout-row align-items-center justify-content-center mt-10">
      <table class="card content">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Gender</th>
            <th>Pin Code</th>
            <th>Country</th>
            <th>State</th>
          </tr>
        </thead>
        
        <tbody *ngIf="selectedId !== ''" data-test-id="customer-details">
          <tr class="slide-up-fade-in">
            <!-- Use below to render details row -->
            <td>{{ customer?.firstName }}</td>
            <td>{{ customer?.lastName }}</td>
            <td>{{ customer?.age }}</td>
            <td>{{ customerDetail?.city }}</td>
            <td>{{ customerDetail?.gender }}</td>
            <td>{{ customerDetail?.pin }}</td>
            <td>{{ customerDetail?.country }}</td>
            <td>{{ customerDetail?.state }}</td>
          </tr>
        </tbody>
      </table>
    </section>
</div>